* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
/* commit */
.strottura_piano {
    padding: 8px 9px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border: green;
    background-color: green;
} 
/* /commit */

/* heder */
header {
    width: 100%;
    height: 700px;
    position: relative;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-image: url(../img/background-header.png);
    padding: 2%  0 0 10%;
    background-color: #0C325A;
}
/* parte superiore heder */
.superiore {
    width: 100%;
    height: 10%;
    line-height: 100%;
    text-transform: uppercase;
    font-size: 5%;

    /* background-color: tomato; */
}
.superiore img {
    float: left;
    width: 10%;
    vertical-align: middle;
}
.box-menu {
    width: 35%;
    float: left;
    margin: 1% 0;
}

.box-menu li {
    float: left;
    margin: 3%;
}
.superiore ul a {
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.box-login li {
    float: right;
    margin: 1%;
}
.superiore p {
    width: 100%;
    font-size: 10px;
    color: white;
    margin-right: 2%;
}
.box-login {
    margin-right: 10%;
}

.superiore .login{
    padding: 5px 9px;
    border-radius: 10%;
    background-color:#0C325A ;
    border: 2px solid white;
}

/* /parte superiore heder */
 
/* heder parte centrale */
.centrale {
    width: 60%;
    margin-top: 10%;
    color: white;
}
.centrale h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
.centrale .strottura_piano {
    padding: 15px 19px;
}


/* /heder parte centrale */
/* /heder */